<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Aplicação Legal</span>
    <span class="example-spacer"></span>

    <button mat-button class="padding-component">  <mat-icon>add</mat-icon></button>
    <mat-icon class="padding-component" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="padding-component" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>

<app-live-list></app-live-list>
