<div  class="padding-top" fxLayoutAlign="center center">
  <form action="" [formGroup]="digimonForm">
    <mat-form-field appearance="legacy">
      <mat-label>Filtrar por nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name">


    </mat-form-field>
    <button mat-button color="primary"  (click) = "pesquisar();"><mat-icon matSuffix>manage_search</mat-icon></button>
  </form>
</div>

<mat-tab-group mat-align-tabs="start" class="padding-top color-body" >
  <mat-tab label="Digimons">
    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;" >
      <ng-container class="margin-card" *ngFor="let  digimon of digimons">
        <mat-card class="mat-card-digimon example-card margin-card"
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
          <mat-card-header>

            <mat-card-title>{{digimon.name}}</mat-card-title>
            <mat-card-subtitle>{{digimon.level}}</mat-card-subtitle>
            </mat-card-header>
          <img mat-card-image src={{digimon.img}} alt="Photo of a Shiba Inu">


        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Sorteio">
    <div  class="padding-top" fxLayoutAlign="center center">
        <button mat-button color="primary"  (click) = "sorteio();"><mat-icon matSuffix>manage_search</mat-icon></button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 2%;" >
      <ng-container class="margin-card" >
        <mat-card class="mat-card-digimon example-card margin-card"
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
          <mat-card-header>

            <mat-card-title>{{digimonSorteio.name}}</mat-card-title>
            <mat-card-subtitle>{{digimonSorteio.level}}</mat-card-subtitle>
            </mat-card-header>
          <img mat-card-image src={{digimonSorteio.img}} alt="Photo of a Shiba Inu">


        </mat-card>
      </ng-container>
    </div>

  </mat-tab>

</mat-tab-group>
